<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebreakers.WorkItOut">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:name=".WorkOutApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitIt">
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".BMIActivity"
            android:exported="false" />
        <activity
            android:name=".Final_Activity_Finish"
            android:exported="false" />
        <activity
            android:name=".ExcerciseTrackActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitySecond"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>